{% comment %}
  Parameters:
  - title {string} [required] - The item title or summary
  - content {string} [required] - The item content
  - add_content_class {string} [optional] - Additional class(es) to add to the content element
  - toggle_icon {string} [optional] - Custom icon markup, e.g. '<span class="icon">...</span>'
  - item_open {boolean} [optional] - Whether the item should be open on page load. Default is false.
{% endcomment %}

{%- liquid
  assign item_attr = 'class="cc-accordion-item"'

  if item_open == true
    assign item_attr = 'class="cc-accordion-item is-open" open'
  endif

  if add_content_class
    assign content_class = add_content_class | prepend: ' '
  endif
-%}

<details {{ item_attr }}>
  <summary class="cc-accordion-item__title"><h3>{{- title -}}{{- toggle_icon -}}</h3></summary>
  <div class="cc-accordion-item__panel">
    <div class="cc-accordion-item__content{{ content_class }}">
      {{- content -}}
    </div>
  </div>
</details>
<style>
  .cc-accordion-item__title:before, .cc-accordion-item__title:after {
    content: "";
    position: absolute;
    top: calc(30% - 1px);
    right: 0;
    width: 11px;
    height: 1px;
    background-color: currentColor;
    transition: .3s ease;
    transition-property: transform,opacity;
}
 .cc-accordion-item__title h3 {
    color:white;
  }
</style>
