<div id="section-id-{{ section.id }}" class="{% unless section.settings.full_width %}container fully-spaced-row{% endunless %}" data-section-type="background-video" data-cc-animate>
  {% style %}
    #section-id-{{ section.id }} .video-container {
      height: {{ section.settings.height_mobile }}px;
    }
    #section-id-{{ section.id }} .overlay-text__title {
      font-size: {{ section.settings.title_size_mobile }}px;
      {% if section.settings.title_size_mobile >= 90 %}
      line-height: 1em;
      {% endif %}
    }
    @media (min-width: 768px) {
      #section-id-{{ section.id }} .video-container {
        height: {{ section.settings.height_desktop }}px;
      }
      #section-id-{{ section.id }} .overlay-text__title {
        {% assign title_size_medium = section.settings.title_size | times: 0.7 | at_least: section.settings.title_size_mobile %}
        font-size: {{ title_size_medium }}px;
        {% if title_size_medium >= 90 %}
        line-height: 1em;
        {% endif %}
      }
    }
    @media (min-width: 1100px) {
      #section-id-{{ section.id }} .overlay-text__title {
        font-size: {{ section.settings.title_size }}px;
        {% if section.settings.title_size >= 90 %}
        line-height: 1em;
        {% endif %}
      }
    }
     .landing-2 h2 span {
         color:#EF8644 !important;
       }
    .imagen-video-count {max-width:750px;}
     @media (max-width:980px) {
    .landing-2  h3 ,    .landing-2 h2 {

    font-size: 12px !important;
      line-height:14px !important;
        }
       .landing-2 h2 span {
         color:#EF8644 !important;
       }
       .imagen-video-count {
         width:300px !important;
       }
      
  .full-width-count {
    padding-left:30px;
    padding-right:30px;
  }
  .needsclick   button {
    font-size:16px !important;
  }
  .count-video .timer-block .countdown_title {
    font-size:12px !important;
  }
  .count-video .timer-block span {
    font-size:35px !important;
  }
     }
  .count2page {
    display:none;
  }
.
</style>

    
  {% endstyle %}

  {% if section.settings.video != blank %}
    <div class="height--fixed video-container video-container--background image-overlay image-overlay--bg-full image-overlay--bg-shadow count-video"
      data-video-url="{{ section.settings.video | escape }}"
      data-video-autoplay="true"
      data-video-loop="true"
      data-cc-animate>
      <div class="video-container__video"></div>
      {% if section.settings.placeholder_image %}
        <div class="video-container__fallback rimage-outer-wrapper rimage-background lazyload fade-in"
          data-bgset="{% render 'bgset', image: section.settings.placeholder_image %}"
          data-sizes="auto"
          data-parent-fit="cover">
          <noscript>
            <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.placeholder_image.aspect_ratio | times: 100 }}%">
              <img src="{{ section.settings.placeholder_image | img_url: '1024x1024' }}" alt="{{ section.settings.placeholder_image.alt | escape }}" class="rimage__image">
            </div>
          </noscript>
        </div>
      {% endif %}

      {% assign show_overlay_text = false %}
      {% if section.settings.title != blank or section.settings.subheading != blank or section.settings.text != blank or section.settings.button_label_1 != blank or section.settings.button_label_2 != blank %}
        {% assign show_overlay_text = true %}
      {% endif %}

      {% if show_overlay_text == false %}
        <div class="overlay-text overlay-text--for-banner overlay--v-{{ section.settings.text_alignment | split: ' ' | first }} overlay--h-{{ section.settings.text_alignment | split: ' ' | last }} image-overlay__over">
          <div class="overlay-text__inner">
            <div class="overlay-text__text" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.5s">

        <style>
        .section-background-video {
        padding:0px !important;
        }
        .landing-2 h3 {
        max-width:650px;
        margin:0 auto;
        }
         .landing-2  h2 {
     color:white;
font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0.085em;
text-align: left;  text-transform:uppercase;
        margin-bottom:35px;

   }
         .landing-2  h3 {
     color:white;
font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0.085em;
text-align: left;
        text-transform:uppercase;
         margin-bottom:40px;
 margin-top:35px;
   }
       .landing-2 .form_klaviyo {
    padding-bottom: 0px !important;
}
  .overlay-text__inner {
        padding-top:0px;
  }
         .full-text2-btn {
    text-transform:uppercase;
    font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
background:#7C3830 !important;
    color:white !important;
    padding:15px 25px;
  max-width:650px;
       margin:0px auto;
    color:white !important;
 


  }
        @media (max-width:769px) {
         .full-text2-btn {
  padding:12px 14px;
        color:white !important;
font-size: 16px;
font-weight: 700;
line-height: 23px;



  }
        }
        </style>
        <div class="landing-2">
        <h2 class="h2-landing-2" style="text-align:center">DESTINADOS A UNA VIDA DE <span>EXTENUANTES DESAFIOS</span>
                  </h2>
              {% if request.locale.iso_code == 'es'  %}
<img src="{{ section.settings.image | img_url: 'master'  }}"  class="imagen-video-count">


{% elsif request.locale.iso_code == 'en'  %}
 <img src="{{ section.settings.image_en | img_url: 'master'  }}" class="imagen-video-count">


  {% elsif request.locale.iso_code == 'fr' %}
<img src="{{ section.settings.image_fr | img_url: 'master'  }}" class="imagen-video-count">
   {% elsif request.locale.iso_code == 'de' %}
<img src="{{ section.settings.image_de | img_url: 'master'  }}" class="imagen-video-count">

     {% elsif request.locale.iso_code == 'it' %}
<img src="{{ section.settings.image_it | img_url: 'master'  }}" class="imagen-video-count">
  {% else  %}
      
  <img src="{{ section.settings.image_en | img_url: 'master'  }}" class="imagen-video-count">
{% endif %}
        <h3 style="text-align:center">viene a recordarte que tienes la fuerza interior que se necesita para cumplir tus metas y objetivos.</h3>
    
  <a href="#section-id-template--16681676767487__2d60c466-6cf3-4755-a256-25925a2dfc00" class="full-text2-btn">COMENZAR el DESAFÍO</a>
        </div>
              
              {% if section.settings.subheading != blank and section.settings.button_url_1 != blank %}
                {% assign enlarge_subheading = section.settings.enlarge_subheading %}

                
                <div class="overlay-text__subheading subheading subheading--over {% if enlarge_subheading %}enlarge_subheading{% endif %}">{{ section.settings.subheading | escape }}</div>
              {% endif %}
              {% if section.settings.title != blank %}
                {% if section.settings.use_h1 %}
                  <h1 class="overlay-text__title">{{ section.settings.title | newline_to_br }}</h1>
                {% else %}
                  <h2 class="overlay-text__title h1-style">{{ section.settings.title | newline_to_br }}</h2>
                {% endif %}
              {% endif %}
              {% if section.settings.text != blank %}
                <div class="overlay-text__rte rte {% if section.settings.enlarge_text %}large-text{% endif %}">{{ section.settings.text }}</div>
              {% endif %}
              {% if section.settings.button_url_1 != blank or section.settings.button_url_1 != blank %}
                <div class="overlay-text__button-row">
                  {% if section.settings.button_url_1 != blank %}
                    <a class="overlay-text__button {% if section.settings.button_style != 'link' %}btn btn--{{ section.settings.button_style }}{% else %}small-feature-link{% endif %}" href="{{ section.settings.button_url_1 }}" {% if section.settings.open_url_new_tab %}target="_blank"{% endif  %}>{{ section.settings.button_label_1 }}</a>
                  {% endif %}
                  {% if section.settings.button_url_2 != blank %}
                    <a class="overlay-text__button {% if section.settings.button_style != 'link' %}btn btn--{{ section.settings.button_style }}{% else %}small-feature-link{% endif %}" href="{{ section.settings.button_url_2 }}" {% if section.settings.open_url_new_tab %}target="_blank"{% endif  %}>{{ section.settings.button_label_2 }}</a>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'sticker' %}
                {% if block.settings.sticker != blank %}
                  {% assign align = section.settings.text_alignment | split: ' ' | last %}
                  <div class="background-video__sticker {% if align == 'right' %}left{% endif %}">
                    <img src="{{block.settings.sticker | img_url: 'master'}}">
                  </div>  
                {% endif %}
            {% endcase %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% else %}
    {% unless template.name contains 'product' %}
      <div class="fully-padded-row--large align-center">{{ 'homepage.onboarding.no_content' | t }}</div>
    {% endunless %}
  {% endif %}
</div>


{% schema %}
  {
    "name": "Background video landing",
    "class": "section-background-video",
    "settings": [
      {
        "type": "paragraph",
        "content": "Background videos play on loop, with no sound. If you need a video with sound use the Video section."
      },
      {
        "id": "video",
        "type": "text",
        "label": "Video link",
        "info": "Supports mp4, YouTube and Vimeo. Please read documentation before using. [Read more](https://cleancanvas.co.uk/support/general/background-video)",
        "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
      },
      {
        "id": "placeholder_image",
        "type": "image_picker",
        "label": "Placeholder image",
        "info": "Required. Shows while the video is loading, or if it cannot autoplay."
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Tell your story"
      },
      {
        "type": "checkbox",
        "id": "enlarge_subheading",
        "label": "Enlarge subheading",
        "default": true
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Background video"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 20,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Desktop heading text size",
        "default": 84
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 20,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Mobile heading text size",
        "default": 32
      },
      {
        "type": "checkbox",
        "id": "use_h1",
        "label": "Set as primary page heading",
        "info": "Uses <h1> tag (used for SEO and accessibility). One per page recommended.",
        "default": false
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use a video to get a customer's attention<\/p>"
      },
      {
        "type": "checkbox",
        "id": "enlarge_text",
        "label": "Enlarge text",
        "default": true
      },
      {
        "type": "text",
        "id": "button_label_1",
        "label": "Button 1 label"
      },
      {
        "type": "url",
        "id": "button_url_1",
        "label": "Button 1 link"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": "Button 2 label"
      },
      {
        "type": "url",
        "id": "button_url_2",
        "label": "Button 2 link"
      },
      {
        "type": "checkbox",
        "id": "open_url_new_tab",
        "label": "Open URL in a new tab",
        "default": true
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "primary",
        "options": [
          {
            "label": "Button - primary",
            "value": "primary"
          },
          {
            "label": "Button - secondary",
            "value": "secondary"
          },
          {
            "label": "Button - tertiary",
            "value": "tertiary"
          },
          {
            "label": "Button - quaternary",
            "value": "quaternary"
          },
          {
            "label": "Link",
            "value": "link"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text overlay position",
        "options": [
          {
            "value": "top left",
            "label": "Top left"
          },
          {
            "value": "top center",
            "label": "Top center"
          },
          {
            "value": "top right",
            "label": "Top right"
          },
          {
            "value": "center left",
            "label": "Middle left"
          },
          {
            "value": "center center",
            "label": "Middle center"
          },
          {
            "value": "center right",
            "label": "Middle right"
          },
          {
            "value": "bottom left",
            "label": "Bottom left"
          },
          {
            "value": "bottom center",
            "label": "Bottom center"
          },
          {
            "value": "bottom right",
            "label": "Bottom right"
          }
        ],
        "default": "center center"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "range",
        "id": "height_desktop",
        "min": 200,
        "max": 1000,
        "step": 20,
        "unit": "px",
        "label": "Desktop fixed height",
        "default": 600
      },
      {
        "type": "range",
        "id": "height_mobile",
        "min": 100,
        "max": 1000,
        "step": 20,
        "unit": "px",
        "label": "Mobile fixed height",
        "default": 500
      },
      {
        "id": "full_width",
        "type": "checkbox",
        "label": "Full page width",
        "default": true
      },
       {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
      {
          "type": "image_picker",
          "id": "image_en",
          "label": "Image en"
        }, 
     {
          "type": "image_picker",
          "id": "image_fr",
          "label": "Image fr"
        },
     {
          "type": "image_picker",
          "id": "image_de",
          "label": "Image de"
        },{
          "type": "image_picker",
          "id": "image_it",
          "label": "Image it"
        },
         {
          "type": "image_picker",
          "id": "image2",
          "label": "Image"
        
        }
    ],
    "blocks": [
      {
        "type": "sticker",
        "name": "Sticker",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "sticker",
            "label": "Sticker"
          }
        ]
      }
    ], 
    "presets": [
      {
        "name": "Background video 24"
      }
    ]
  }
{% endschema %}
