<div id="section-id-{{ section.id }}" data-section-type="image-with-text-overlay">
  {% style %}
    {%- if section.settings.height == 'fixed' -%}
    #section-id-{{ section.id }} .fixed-height-item {
      height: {{ section.settings.height_mobile }}px;
    }
    {%- endif -%}

    #section-id-{{ section.id }} .overlay-text__title {
      font-size: {{ section.settings.title_size_mobile }}px;
      {%- if section.settings.title_size_mobile >= 90 -%}
      line-height: 1em;
      {%- endif %}
    }

    @media (min-width: 768px) {
      {%- if section.settings.height == 'fixed' -%}
      #section-id-{{ section.id }} .fixed-height-item {
        height: {{ section.settings.height_desktop }}px;
      }
      {%- endif -%}

      #section-id-{{ section.id }} .overlay-text__title {
        {%- assign title_size_medium = section.settings.title_size | times: 0.7 | at_least: section.settings.title_size_mobile -%}
        font-size: {{ title_size_medium }}px;
        {%- if title_size_medium >= 90 -%}
        line-height: 1em;
        {%- endif %}
      }
    }
    @media (min-width: 1100px) {
      #section-id-{{ section.id }} .overlay-text__title {
        font-size: {{ section.settings.title_size }}px;
        {%- if section.settings.title_size >= 90 -%}
        line-height: 1em;
        {%- endif %}
      }
    }
  {% endstyle %}

  {%- unless section.settings.full_width -%}<div class="container container--not-mobile fully-spaced-row--medium fully-spaced-row--not-mobile">{%- endunless -%}

  {%- liquid
    assign show_overlay_text = false
    if section.settings.title != blank or section.settings.subheading != blank or section.settings.text != blank or section.settings.button_label_1 != blank or section.settings.button_label_2 != blank
      assign show_overlay_text = true
      assign wrap_image_with_link = true
      if section.settings.image_link == blank or section.settings.text contains '</a>' or section.settings.button_url_1 != blank or section.settings.button_url_2 != blank
        assign wrap_image_with_link = false
      endif
    endif
  -%}
  <div class="image-with-reviews height--{{ section.settings.height }} image-overlay image-overlay--bg-{{ section.settings.overlay_style }} {% if section.settings.mobile_overlay_under %}overlay-text-parent--mobile-stack{% endif %}" data-cc-animate data-cc-animate-delay="0.2s">
    {%- if wrap_image_with_link -%}
      <a class="image-overlay__image-link" href="{{ section.settings.image_link }}">
    {%- endif -%}

    {%- if section.settings.image == blank -%}
      <div class="placeholder-image placeholder--banner{% if show_overlay_text %} dark{% endif %}{% if section.settings.height == 'fixed' %} fixed-height-item{% endif %}" {% if section.settings.height == 'adapt' %}style="padding-top: 50%"{% endif %}>
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {%- else -%}
      <div class="rimage-background-wrapper lazyload--placeholder {% if section.settings.mobile_image != blank %}desktop-only{% endif %}">
        <div class="rimage-outer-wrapper rimage-background lazyload fade-in{% if section.settings.height == 'fixed' %} fixed-height-item{% endif %}"
            data-bgset="{% render 'bgset', image: section.settings.image %}"
            data-sizes="auto"
            data-parent-fit="cover"
            style="background-position: {{ section.settings.image_position }}">
          {%- if section.settings.height == 'adapt' -%}
            {%- assign aspect_ratio = section.blocks.first.settings.image.aspect_ratio | default: 2.0 -%}
            <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: aspect_ratio | times: 100 }}%"></div>
          {%- endif -%}
          <noscript>
            <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%">
              <img src="{{ section.settings.image | img_url: '1024x1024' }}" alt="{{ section.settings.image.alt | escape }}" class="rimage__image">
            </div>
          </noscript>
        </div>
      </div>

      {% if section.settings.mobile_image != blank %}
        <div class="rimage-outer-wrapper rimage-background lazyload mobile-only fade-in{% if section.settings.height == 'fixed' %} fixed-height-item{% endif %}"
              data-bgset="{% render 'bgset', image: section.settings.mobile_image %}"
              data-sizes="auto"
              data-parent-fit="cover"
              style="background-position: {{ section.settings.mobile_image_position }}">
          {%- if section.settings.height == 'adapt' -%}
            {%- assign aspect_ratio = section.blocks.first.settings.mobile_image.aspect_ratio | default: 2.0 -%}
            <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: aspect_ratio | times: 100 }}%"></div>
          {%- endif -%}
          <noscript>
            <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.mobile_image.aspect_ratio | times: 100 }}%">
              <img src="{{ section.settings.mobile_image | img_url: '1024x1024' }}" alt="{{ section.settings.mobile_image.alt | escape }}" class="rimage__image">
            </div>
          </noscript>
        </div>
      {% endif %}
    {%- endif -%}

    {%- if show_overlay_text -%}
      <div class="overlay-text overlay-text--for-banner overlay--v-{{ section.settings.text_alignment | split: ' ' | first }} overlay--h-{{ section.settings.text_alignment | split: ' ' | last }} image-overlay__over">
        <div class="overlay-text__inner">
          <div class="overlay-text__text">
            {%- if section.settings.subheading != blank -%}
              <div class="overlay-text__subheading subheading subheading--over">{{ section.settings.subheading | escape }}</div>
            {%- endif -%}
            {%- if section.settings.title != blank -%}
              
          {%  if section.settings.use_h1 %} <h1{% else %}<h2 {% endif %} class="overlay-text__title h1-style">
                {% if request.locale.iso_code == 'es'  %}
          {{ section.settings.title | newline_to_br }}
 
              {% elsif request.locale.iso_code == 'en'  %}
    {{ section.settings.title-en | newline_to_br }}
              {% elsif request.locale.iso_code == 'fr' %}
         {{ section.settings.title-fr | newline_to_br }}
         
              {% elsif request.locale.iso_code == 'de' %}
 {{ section.settings.title-de | newline_to_br }}
           
              {% elsif request.locale.iso_code == 'it' %}
         {{ section.settings.title-it | newline_to_br }}
                    {% elsif request.locale.iso_code == 'pt-PT' %}
           {{ section.settings.title-pt | newline_to_br }}
       
              {% else  %}
           {{ section.settings.title-en | newline_to_br }}
      
              {% endif %}
             
              {%  if section.settings.use_h1 %} </h1>{% else %}</h2> {% endif %}
            {%- endif -%}
            {%- if section.settings.text != blank -%}
                  {% if request.locale.iso_code == 'es'  %}
            <div class="overlay-text__rte rte {% if section.settings.enlarge_text %}large-text{% endif %}">{{ section.settings.text }}</div>
 
              {% elsif request.locale.iso_code == 'en'  %}
   <div class="overlay-text__rte rte {% if section.settings.enlarge_text %}large-text{% endif %}">{{ section.settings.texten }}</div>
     
              {% elsif request.locale.iso_code == 'fr' %}
          <div class="overlay-text__rte rte {% if section.settings.enlarge_text %}large-text{% endif %}">{{ section.settings.textfr }}</div>
         
              {% elsif request.locale.iso_code == 'de' %}
 <div class="overlay-text__rte rte {% if section.settings.enlarge_text %}large-text{% endif %}">{{ section.settings.textde }}</div>
           
              {% elsif request.locale.iso_code == 'it' %}
         <div class="overlay-text__rte rte {% if section.settings.enlarge_text %}large-text{% endif %}">{{ section.settings.textit }}</div>
      
                    {% elsif request.locale.iso_code == 'pt-PT' %}
             <div class="overlay-text__rte rte {% if section.settings.enlarge_text %}large-text{% endif %}">{{ section.settings.textpt }}</div>
       
              {% else  %}
            <div class="overlay-text__rte rte {% if section.settings.enlarge_text %}large-text{% endif %}">{{ section.settings.textpt }}</div>
      
              {% endif %}
            {%- endif -%}

                       {%- if section.settings.button_label_1 != blank or section.settings.button_label_2 != blank -%}
              <div class="overlay-text__button-row">
                {%- if wrap_image_with_link -%}
                  {%- if section.settings.button_label_1 != blank -%}
                    <span class="overlay-text__button button altcolour">{{ section.settings.button_label_1 }}</span>
                  {%- endif -%}
                  {%- if section.settings.button_label_2 != blank -%}
                    <span class="overlay-text__button button altcolour">{{ section.settings.button_label_2 }}</span>
                  {%- endif -%}
                {%- else -%}
                  {%- if section.settings.button_label_1 != blank -%}
                    <a class="overlay-text__button button altcolour" href="{{ section.settings.button_url_1 }}">{{ section.settings.button_label_1 }}</a>
                  {%- endif -%}
                  {%- if section.settings.button_label_2 != blank -%}
                    <a class="overlay-text__button button altcolour" href="{{ section.settings.button_url_2 }}">{{ section.settings.button_label_2 }}</a>
                  {%- endif -%}
                {%- endif -%}
              </div>
            {%- endif -%}
      
            {% if section.settings.reviews %}
              <div class="reviews-container">
                <div class="reviews-author-container"> <img src="{{ section.settings.author | image_url }}" class="author-review">
                 <span class="author">{{ section.settings.author-name }}</span> <span class="role">{{ section.settings.author-role }}</span>
                </div>
                <div class="review">
                   {% if request.locale.iso_code == 'es'  %}
      {{ section.settings.review }}
 
              {% elsif request.locale.iso_code == 'en'  %}
  {{ section.settings.review-en }}
              {% elsif request.locale.iso_code == 'fr' %}
       {{ section.settings.review-fr }}
         
              {% elsif request.locale.iso_code == 'de' %}
{{ section.settings.review-de }}
           
              {% elsif request.locale.iso_code == 'it' %}
 {{ section.settings.review }}
                    {% elsif request.locale.iso_code == 'pt-PT' %}
       {{ section.settings.review-pt }}
       
              {% else  %}
          {{ section.settings.review-en }}
      
              {% endif %}
              </div>
                <div class="container-image">
                  <img src="{{ section.settings.reviews | image_url }}" class="reviews-image"> <span class="reviews">{{ section.settings.reviews-total }}</span>
                </div>
              </div>
                {% endif %}
 
          </div>
        </div>
      </div>
    {%- endif -%}

    {%- if wrap_image_with_link -%}
      </a>
    {%- endif -%}
  </div>

  {%- unless section.settings.full_width -%}</div>{%- endunless -%}
</div>

<style>
  @media (min-width:750px) {
  .overlay-text--for-banner .overlay-text__inner {
    max-width:1400px;
    margin:0 auto;
  }
  }
 .image-with-reviews  .overlay-text__button  {
  border-radius: 5px !important;
  }
 .image-with-reviews {%  if section.settings.use_h1 %} h1{% else %}h2 {% endif %} {
  font-size: 40px !important;
}
 .image-with-reviews {%  if section.settings.use_h1 %} h1{% else %}h2 {% endif %} strong {
  color: #f3b01c;
    font-size: 44px !important;
}
 .image-with-reviews .overlay-text__rte p {
  font-size: 16px;
}
.reviews-container {
  margin-top: 40px;
  padding-left: 75px;
}
.reviews-author-container .author {
  font-weight: bold;
  line-height: 16px;
}
.reviews-author-container {
  column-gap: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.reviews-author-container .role {
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
}
.reviews-author-container img {
  margin-left: -75px;
}
.reviews-container .review {
  font-size: 14px;
}
.container-image {
    display: flex;
    column-gap: 20px;
  margin-top:10px;
}
  br.only-mobile {
  display:none;}
  @media (max-width:750px) {

  .overlay-text__button-row {
  width:100%;
  overflow:hidden;
  }
  .overlay-text__button-row .overlay-text__button {
    margin: 0px;
}
  
     br.only-desktop {
  display:none;}
   br.only-mobile {
  display:block;}
  .container-image img {
    height: auto;
    width: 150px;
  margin-bottom:15px;
}
  .image-with-reviews .overlay-text__button.button.altcolour {
  width:100%;
  }
  .container-image  {
  
      display: flex;
    column-gap: 20px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }
   .image-with-reviews h2,    .image-with-reviews h1 {
  font-size: 33px !important;
} 
   .image-with-reviews h2 strong,    .image-with-reviews h1 strong {
  font-size: 37px !important;
} 
   .container-image .reviews {
  font-size:12px;
  }

     .image-with-reviews .overlay-text {
   
    display: flex;
    align-items: flex-end;
    }
  
  .reviews-container .review {
  margin-left:-70px;
  }
.container-image {
  margin-left:-70px;

  
  }
  
</style>
{% schema %}
  {
    "name": "Image with Reviews",
    "class": "section-image-with-text-overlay",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "2048 x 1024px recommended"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile image",
        "info": "1024px x 1024px recommended"
      },
      {
        "type": "image_picker",
        "id": "author",
        "label": "Author"
      },
         {
        "type": "image_picker",
        "id": "reviews",
        "label": "Reviews"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image alignment",
        "info": "Used to keep the subject of your image in view",
        "default": "center center",
        "options": [
          {
            "value": "top left",
            "label": "Top left"
          },
          {
            "value": "top center",
            "label": "Top center"
          },
          {
            "value": "top right",
            "label": "Top right"
          },
          {
            "value": "center left",
            "label": "Middle left"
          },
          {
            "value": "center center",
            "label": "Middle center"
          },
          {
            "value": "center right",
            "label": "Middle right"
          },
          {
            "value": "bottom left",
            "label": "Bottom left"
          },
          {
            "value": "bottom center",
            "label": "Bottom center"
          },
          {
            "value": "bottom right",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "select",
        "id": "mobile_image_position",
        "label": "Mobile image alignment",
        "options": [
          {
            "value": "left top",
            "label": "Top left"
          },
          {
            "value": "center top",
            "label": "Top center"
          },
          {
            "value": "right top",
            "label": "Top right"
          },
          {
            "value": "left center",
            "label": "Middle left"
          },
          {
            "value": "center center",
            "label": "Middle center"
          },
          {
            "value": "right center",
            "label": "Middle right"
          },
          {
            "value": "left bottom",
            "label": "Bottom left"
          },
          {
            "value": "center bottom",
            "label": "Bottom center"
          },
          {
            "value": "right bottom",
            "label": "Bottom right"
          }
        ],
        "default": "center center"
      },
      {
        "type": "radio",
        "id": "height",
        "label": "Image height",
        "options": [
          {
            "value": "adapt",
            "label": "Natural"
          },
          {
            "value": "full",
            "label": "Full screen"
          },
          {
            "value": "fixed",
            "label": "Fixed height"
          }
        ],
        "default": "fixed"
      },
      {
        "type": "range",
        "id": "height_desktop",
        "min": 200,
        "max": 1000,
        "step": 20,
        "unit": "px",
        "label": "Desktop fixed height",
        "default": 600
      },
      {
        "type": "range",
        "id": "height_mobile",
        "min": 100,
        "max": 1000,
        "step": 20,
        "unit": "px",
        "label": "Mobile fixed height",
        "default": 460
      },
      {
        "type": "url",
        "id": "image_link",
        "label": "Image link",
        "info": "Not used if buttons or text contain links"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Tell your story"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Two line\ntext heading"
      },
      {
        "type": "textarea",
        "id": "title-en",
        "label": "Heading en",
        "default": "Two line\ntext heading"
      },
      {
        "type": "textarea",
        "id": "title-fr",
        "label": "Heading fr",
        "default": "Two line\ntext heading"
      },
      {
        "type": "textarea",
        "id": "title-de",
        "label": "Heading de " ,
        "default": "Two line\ntext heading"
      },
      {
        "type": "textarea",
        "id": "title-it",
        "label": "Heading it",
        "default": "Two line\ntext heading"
      },
      {
        "type": "textarea",
        "id": "title-pt",
        "label": "Heading pt",
        "default": "Two line\ntext heading"
      },
      
      {
        "type": "range",
        "id": "title_size",
        "min": 20,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Desktop heading text size",
        "default": 84
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "min": 20,
        "max": 150,
        "step": 2,
        "unit": "px",
        "label": "Mobile heading text size",
        "default": 46
      },
      {
        "type": "checkbox",
        "id": "use_h1",
        "label": "Set as primary page heading",
        "info": "Uses <h1> tag (used for SEO and accessibility). One per page recommended.",
        "default": false
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>And optional subtext</p>"
      },

       {
        "type": "richtext",
        "id": "texten",
        "label": "Text en",
        "default": "<p>And optional subtext</p>"
      },
       {
        "type": "richtext",
        "id": "textfr",
        "label": "Text fr",
        "default": "<p>And optional subtext</p>"
      },
       {
        "type": "richtext",
        "id": "textde",
        "label": "Text de" ,
        "default": "<p>And optional subtext</p>"
      },
       {
        "type": "richtext",
        "id": "textit",
        "label": "Text it",
        "default": "<p>And optional subtext</p>"
      },
       {
        "type": "richtext",
        "id": "textpt",
        "label": "Text pt",
        "default": "<p>And optional subtext</p>"
      },
        {
        "type": "text",
        "id": "author-name",
        "label": "Author"
      },
            {
        "type": "text",
        "id": "author-role",
        "label": "Author"
      },
        {
        "type": "richtext",
        "id": "review",
        "label": "Review es"
      },
           {
        "type": "richtext",
        "id": "review-en",
        "label": "Review en"
      },
           {
        "type": "richtext",
        "id": "review-fr",
        "label": "Review fr"
      },
           {
        "type": "richtext",
        "id": "review-de",
        "label": "Review de"
      },
           {
        "type": "richtext",
        "id": "review-it",
        "label": "Review it"
      },
           {
        "type": "richtext",
        "id": "review-pt",
        "label": "Review pt"
      },
       {
        "type": "text",
        "id": "reviews-total",
        "label": "Reviews total"
      },
      {
        "type": "checkbox",
        "id": "enlarge_text",
        "label": "Enlarge text",
        "default": true
      },
      {
        "type": "text",
        "id": "button_label_1",
        "label": "Button 1 label",
        "default": "Shop this"
      },
      {
        "type": "url",
        "id": "button_url_1",
        "label": "Button 1 link"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": "Button 2 label",
        "default": "Shop all"
      },
      {
        "type": "url",
        "id": "button_url_2",
        "label": "Button 2 link"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text overlay position",
        "options": [
          {
            "value": "top left",
            "label": "Top left"
          },
          {
            "value": "top center",
            "label": "Top center"
          },
          {
            "value": "top right",
            "label": "Top right"
          },
          {
            "value": "center left",
            "label": "Middle left"
          },
          {
            "value": "center center",
            "label": "Middle center"
          },
          {
            "value": "center right",
            "label": "Middle right"
          },
          {
            "value": "bottom left",
            "label": "Bottom left"
          },
          {
            "value": "bottom center",
            "label": "Bottom center"
          },
          {
            "value": "bottom right",
            "label": "Bottom right"
          }
        ],
        "default": "center center"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "id": "full_width",
        "type": "checkbox",
        "label": "Full page width",
        "default": true
      },
      {
        "id": "mobile_overlay_under",
        "type": "checkbox",
        "label": "Show text below image on mobile",
        "default": false
      },
      {
        "id": "overlay_style",
        "type": "select",
        "label": "Overlay style",
        "default": "shadow",
        "options": [
          {
            "value": "full",
            "label": "Tint"
          },
          {
            "value": "box",
            "label": "Box"
          },
          {
            "value": "shadow",
            "label": "Text shadow"
          },
          {
            "value": "full image-overlay--bg-shadow",
            "label": "Text shadow and tint"
          },
          {
            "value": "no_background",
            "label": "No background"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text overlay Reviews",
        "settings": {
        }
      }
    ]
  }
{% endschema %}
