{% comment %}<div class="columns4">
  
  <h2>{% for block in section.blocks %} 
            {% case block.type %}
            {% when 'titulo1' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}</h2>
<div class="container"  style="position:relative;">
<div class="column14"><img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/arrow_8c965f4f-e36d-4b57-8295-8e04926851b5.png?v=1680784116" 
> {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'text1' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}</div>
<div class="column14"><img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/arrow_8c965f4f-e36d-4b57-8295-8e04926851b5.png?v=1680784116" > {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'text2' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}</div>
<div class="column14"><img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/arrow_8c965f4f-e36d-4b57-8295-8e04926851b5.png?v=1680784116" > {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'text3' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}</div>
<div class="column14"><img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/arrow_8c965f4f-e36d-4b57-8295-8e04926851b5.png?v=1680784116" > {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'text4' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}</div>
</div>

</div> {% endcomment %}
<div class="with-reviews1">
              <div class="container flex-3">
                <div class="person">
                  <div><img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/Roberto_Sanchez_1_1.png?v=1680785089"><br>
                  Paul </div>
                  <p>{% for block in section.blocks %} 
                            {% case block.type %}
                            {% when 'person1' %}
                            {% if block.settings.image != blank %}
                            {% if request.locale.iso_code == 'es'  %}
                            {{ block.settings.image }}
                            {% elsif request.locale.iso_code == 'en'  %}
                            {{ block.settings.image_en }}
                            {% elsif request.locale.iso_code == 'fr' %}
                            {{ block.settings.image_fr }}
                            {% elsif request.locale.iso_code == 'de' %}
                            {{ block.settings.image_de }}
                            {% elsif request.locale.iso_code == 'it' %}
                            {{ block.settings.image_it }}
                              
                             {% elsif request.locale.iso_code == 'it' %}
                            {{ block.settings.image_it }}
                                  {% elsif request.locale.iso_code == 'pt-PT' %}
                                        {{ block.settings.image_br }}
                            {% else  %}
                        {{ block.settings.image_en }}
                            {% endif %}
                            {% endif %}
                            {% endcase %}
                            {% endfor %}</p></div>
                <div>
                <div><img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/Mask_group.png?v=1680785090"><br>
                ROMAN </div><p>{% for block in section.blocks %} 
                          {% case block.type %}
                          {% when 'person2' %}
                          {% if block.settings.image != blank %}
                          {% if request.locale.iso_code == 'es'  %}
                          {{ block.settings.image }}
                          {% elsif request.locale.iso_code == 'en'  %}
                          {{ block.settings.image_en }}
                          {% elsif request.locale.iso_code == 'fr' %}
                          {{ block.settings.image_fr }}
                          {% elsif request.locale.iso_code == 'de' %}
                          {{ block.settings.image_de }}
                          {% elsif request.locale.iso_code == 'it' %}
                          {{ block.settings.image_it }}
                            
                           {% elsif request.locale.iso_code == 'it' %}
                          {{ block.settings.image_it }}
                                {% elsif request.locale.iso_code == 'pt-PT' %}
                                      {{ block.settings.image_br }}
                          {% else  %}
                      {{ block.settings.image_en }}
                          {% endif %}
                          {% endif %}
                          {% endcase %}
                          {% endfor %}</p></div>
                <div>
                  <div><img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/Mask_group_1.png?v=1680785095"><br>ALEX</div>
                <p>{% for block in section.blocks %} 
                          {% case block.type %}
                          {% when 'person3' %}
                          {% if block.settings.image != blank %}
                          {% if request.locale.iso_code == 'es'  %}
                          {{ block.settings.image }}
                          {% elsif request.locale.iso_code == 'en'  %}
                          {{ block.settings.image_en }}
                          {% elsif request.locale.iso_code == 'fr' %}
                          {{ block.settings.image_fr }}
                          {% elsif request.locale.iso_code == 'de' %}
                          {{ block.settings.image_de }}
                          {% elsif request.locale.iso_code == 'it' %}
                          {{ block.settings.image_it }}
                            
                           {% elsif request.locale.iso_code == 'it' %}
                          {{ block.settings.image_it }}
                                {% elsif request.locale.iso_code == 'pt-PT' %}
                                      {{ block.settings.image_br }}
                          {% else  %}
                      {{ block.settings.image_en }}
                          {% endif %}
                          {% endif %}
                          {% endcase %}
                          {% endfor %}</p></div>
                </div>
                
                <div>
                <div style="text-align:center; padding:40px 0px;">
                <img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/Frame_21_1.png?v=1680139278">
                
                <p>{% for block in section.blocks %} 
                          {% case block.type %}
                          {% when 'reviews' %}
                          {% if block.settings.image != blank %}
                          {% if request.locale.iso_code == 'es'  %}
                          {{ block.settings.image }}
                          {% elsif request.locale.iso_code == 'en'  %}
                          {{ block.settings.image_en }}
                          {% elsif request.locale.iso_code == 'fr' %}
                          {{ block.settings.image_fr }}
                          {% elsif request.locale.iso_code == 'de' %}
                          {{ block.settings.image_de }}
                          {% elsif request.locale.iso_code == 'it' %}
                          {{ block.settings.image_it }}
                            
                           {% elsif request.locale.iso_code == 'it' %}
                          {{ block.settings.image_it }}
                                {% elsif request.locale.iso_code == 'pt-PT' %}
                                      {{ block.settings.image_br }}
                          {% else  %}
                      {{ block.settings.image_en }}
                          {% endif %}
                          {% endif %}
                          {% endcase %}
                          {% endfor %}</p>
                </div>
  </div>

  <!--<div class="video" style="max-width:100%;">
    <video style="max-width:100%;" playsinline="" loop="loop" autoplay="autoplay" muted="muted" src="https://cdn.shopify.com/videos/c/o/v/38044914f9f4448ba667aa972bbffe7d.mp4"></video>
  </div>-->

  <div class="container-columns2" style="display:grid; grid-template-columns:1fr 1fr; column-gap:10px; background:#fff;">
    <div class="column1">
      <img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/Img_1.jpg?v=1681400597">
    </div>
       <div class="column2">
         <img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/Img_2.jpg?v=1681400597">
    </div>
  </div>

  <div class="black">
    <div class="container">
    <h2>{% for block in section.blocks %} 
            {% case block.type %}
            {% when 'titulo1' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}</h2>
                  
<div class="grid3"  style="display:grid; grid-template-columns:1fr 1fr 1fr; column-gap:10px; text-align:center; mmargin:0 auto; max-width: 100%;">

  
<div>
   {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'text1' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}
</div>
                <div>
    {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'text2' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}
                  
                </div>
                <div>
                  
            {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'text3' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}
                </div>
   </div>

    <div class="text-center">
    <a target="_blank" href="{{ section.settings.url }}" class="button btn  btn2" style="width:auto; margin:0 auto;">{% for block in section.blocks %} 
            {% case block.type %}
            {% when 'btn' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}</a>
  </div>
   </div> 
  </div>

  <div class="white">
    <div class="container">

     <h4 style="padding-top:30px;">{% for block in section.blocks %} 
            {% case block.type %}
            {% when 'h4' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}</h4>
  <h3 class="h3">{% for block in section.blocks %} 
            {% case block.type %}
            {% when 'h3' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}</h3>

    <h2 class="h2h2h2">{% for block in section.blocks %} 
            {% case block.type %}
            {% when 'h2h2h2' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}</h2>

             

 

<div style="width:900px; margin:0 auto; max-width: 100%;">
   {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'image' %}
         {% if block.settings.image != blank %}
         {% if request.locale.iso_code == 'es'  %}
            {% if request.path contains 'es-us' %}
            <img src="{{ block.settings.image_es-us | img_url: 'master'  }}" class="imagen-multi es-us">
                               <style >     .es-eu {          display:none;        }                    </style>
         
            {% else %}
              <img src="{{ block.settings.image | img_url: 'master'  }}" class="imagen-multi es-eu">
            {% endif %}
        
         {% elsif request.locale.iso_code == 'en'  %}
           {% if request.path contains 'en-us' %}
            <img src="{{ block.settings.image_en-us | img_url: 'master'  }}" class="imagen-multi en-us">
                               <style >
                       .en-eu {
                         display:none;
                       }
                         </style>
            {% elsif  request.path contains 'en-ca' %}
                         <style >
                         .en-eu {
                           display:none;
                         }
                           </style>
                           
              <img src="{{ block.settings.image_en-ca | img_url: 'master'  }}" class="imagen-multi en-ca" >
            {% else %}
              <img src="{{ block.settings.image_en | img_url: 'master'  }}" class="imagen-multi en-eu">
            {% endif %}

  
        
         {% elsif request.locale.iso_code == 'fr' %}
         <img src="{{ block.settings.image_fr | img_url: 'master'  }}" class="imagen-multi">
         {% elsif request.locale.iso_code == 'de' %}
         <img src="{{ block.settings.image_de | img_url: 'master'  }}" class="imagen-multi">
         {% elsif request.locale.iso_code == 'it' %}
         <img src="{{ block.settings.image_it | img_url: 'master'  }}" class="imagen-multi">
            {% elsif request.locale.iso_code == 'pt-PT' %}
       
             <img src="{{ block.settings.image_br | img_url: 'master'  }}" class="imagen-multi">
         {% else  %}
       <img src="{{ block.settings.image_en | img_url: 'master'  }}">
         {% endif %}
         {% endif %}
         {% endcase %}
    {% endfor %}
</div>
                {% comment %}
 <h4 style="padding-top:30px;">{% for block in section.blocks %} 
            {% case block.type %}
            {% when 'h4' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}</h4> {% endcomment %}

                    <div class="text-center">
    <a target="_blank" href="{{ section.settings.url }}" class="button btn  btn2" style="width:auto; margin:0 auto;">{% for block in section.blocks %} 
            {% case block.type %}
            {% when 'btn' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
          
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}</a>
  </div>
                  
     <p class="red">{% for block in section.blocks %} 
            {% case block.type %}
            {% when 'text4' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}
     </p>
  </div>
   </div>
  
  
  
</div>


<style>
  .with-reviews1 .flex-3 p{
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp:4;
-webkit-box-orient: vertical;
  }
  .image-with-reviews .overlay-text__button, .with-reviews1 .btn {
    border-radius:30px;
        padding: 15px 20px;
  }
  .text-center {
    text-align:center;
  }
 .columns4  h2 {
  text-align: center;
  padding-top: 30px;
   font-size:22px;
  color: #242c5f;
}
  .white {
    background:white;
    padding-bottom:20px;
  }
   .with-reviews1 h2.h2h2h2 {
      font-size:75px;
     margin-top:0px;
 color:black;
     text-tranSform:uppercase;
      margin-bottom:40px;
         letter-spacing:2px;
      font-weight:400;
  font-family:"Enchanted Land";
    }
.columns4 .container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 20px;
  max-width:1200px;
  padding-bottom:40px;
  color:#09080C;
  
}
.columns4 .column14 {
  font-size: 16px;
  width: 45%;
  position: relative;
}
.columns4 .column14 img {
  position: absolute;
  width: 15px;
  top: 5px;
  left: -25px;
}

  /**/
  .width-reviews1 .grid3 p
  {
    text-transform:uppercase;
  }
.with-reviews1  .grid3 {
    margin-bottom:30px;
  }
.with-reviews1 .btn2 {
  background:#FEB71A;
  color:black;
  
  border-radius:20px;
}
  .with-reviews1 .btn {
      color:black;
   background:#FEB71A;
  border-radius:20px;
}
 .with-reviews1 h2,
.with-reviews1 h3,
.with-reviews1 h4 {
  text-align: center;
  
  color: white;
}
    .with-reviews1 h2 {
      max-width:1200px;
      font-size:22px;
      margin:0 auto;
      margin-top:30px;
      margin-bottom:40px;
         letter-spacing:2px;
      font-weight:400;
  
    }
    .with-reviews1 h3.h3 {
      max-width:1200px;
      font-size:25px;
      margin:0 auto;
      margin-top:30px;
      margin-bottom:0px;
      
      font-weight:700;
       color:#FEB71A;
  
    }
     .with-reviews1 .red {
      max-width:1200px;
      font-size:15px;
      margin:0 auto;
      margin-top:10px;
       text-align:center;
      padding-bottom:30px;
      color:red;
      font-weight:500;
      
  
    }
  .with-reviews1 h3 {
     font-size:50px;
    font-weight:bold;
  }
  .with-reviews1 h4 {
  margin-top:40px;
     font-size:20px;
     color:black;
    text-transform:uppercase;
  }
.with-reviews1  {
  background: #000;
  color: white;
}
.with-reviews1 .flex-3 {
  margin:0 auto;
  max-width:1200px;
  padding-top:40px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
.with-reviews1 .flex-3 > div {
  width: 30%;
  color: white;

  font-weight: normal;
  font-size: 12px;
  border-radius: 20px;
}
.with-reviews1 .flex-3 > div > div {
 
  padding: 20px;
  background: #000;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.with-reviews1 .flex-3 p {
  padding: 20px 20px;

}
  @media (max-width:749px) {
    .with-reviews1 h3.h3 {
      font-size:18px;
    }

  .grid3 p
    {
      font-size:12px;
    }
    .grid3 h2 {
      font-size:25px;
    }
  .with-reviews1 .flex-3 > div {
  width:100%;
  margin-bottom:20px;

  }
    .with-reviews1 .flex-3 {

    flex-direction: column;
}

          .columns4 h2 {

            font-size: 16px;
          }
          .columns4 .container {
          flex-direction: column;
          }
     .columns4 .container   .column14 {
       width:100%;
       padding-left:30px;
     }
    .columns4 .column14 p {
      font-size:12px;
    }
    .columns4 .column14 img {
    left:-5px;
    }

    .with-reviews1 h4 {
    font-size:14px;
  }

    .with-reviews1 h3 {
       font-size:18px;
    }
 .with-reviews1 h2 {
       font-size:16px;
    }
    .with-reviews1 h2.h2h2h2 {
    font-size:55px;}
    
.container-columns2 {
display: grid;
    grid-template-columns: 1fr !important;
    column-gap: 2rem !important;
    padding: 2rem 2rem !important;
    margin: 0 auto;
    max-width: 90%; 
}
  .br-desktop {
    display:none;
  }
  .container-columns2 {
  padding:0px !important;
  }
  }
</style>

{% schema %}
  {
    "name": "Rich text with erebus",
    "settings": [
      {
        "type": "url",
        "id": "url",
        "label": "link url"
      }
    ],
     "blocks": [
      {
"type": "titulo1",
"name": "titulo1",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
       {
"type": "text1",
"name": "text1",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "text2",
"name": "text2",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "text3",
"name": "text3",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "text4",
"name": "text4",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
    {
"type": "h3",
"name": "h3",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
},
         {
"type": "h4",
"name": "h4",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "h4h4",
"name": "h4h4",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "h2",
"name": "h2",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "btn",
"name": "btn",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "h2h2",
"name": "h2h2",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "h2h2h2",
"name": "h2h2h2",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "person1",
"name": "person1",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "person2",
"name": "person2",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
},
         {
"type": "person3",
"name": "person3",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "reviews",
"name": "reviews",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
           {
"type": "image",
"name": "image",
"limit": 1,
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "text"
},
    {
"type": "image_picker",
"id": "image_es-us",
"label": "image es us"
},
{
"type": "image_picker",
"id": "image_en",
"label": "text en"
}, 
  {
"type": "image_picker",
"id": "image_en-us",
"label": "text en-us"
}, 
  {
"type": "image_picker",
"id": "image_en-ca",
"label": "text en-ca"
}, 
{
"type": "image_picker",
"id": "image_fr",
"label": "text fr"
},
{
"type": "image_picker",
"id": "image_de",
"label": "text de"
},{
"type": "image_picker",
"id": "image_it",
"label": "text it"
},
  {
"type": "image_picker",
"id": "image_br",
"label": "Image br"
}
]
} 
    ],
 "presets": [
      {
        "name": "Rich text with erebus",
        "settings": {
        }
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}