<div class="columns4b" style="background:black;color:white;">
  
  <h2>{% for block in section.blocks %} 
            {% case block.type %}
            {% when 'titulo1' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}</h2>

  
<div class="container"  style="position:relative;">
<div class="column14">
  <div class="container-column14b">
      <div class="container-column14ba">
          <img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/history_edu_FILL0_wght400_GRAD0_opsz48.png?v=1681441330">
       <p>{% for block in section.blocks %} 
                {% case block.type %}
                {% when 'title01' %}
                {% if block.settings.image != blank %}
                {% if request.locale.iso_code == 'es'  %}
                {{ block.settings.image }}
                {% elsif request.locale.iso_code == 'en'  %}
                {{ block.settings.image_en }}
                {% elsif request.locale.iso_code == 'fr' %}
                {{ block.settings.image_fr }}
                {% elsif request.locale.iso_code == 'de' %}
                {{ block.settings.image_de }}
                {% elsif request.locale.iso_code == 'it' %}
                {{ block.settings.image_it }}
                  
                 {% elsif request.locale.iso_code == 'it' %}
                {{ block.settings.image_it }}
                      {% elsif request.locale.iso_code == 'pt-PT' %}
                            {{ block.settings.image_br }}
                {% else  %}
            {{ block.settings.image_en }}
                {% endif %}
                {% endif %}
                {% endcase %}
                {% endfor %}</p>
          </div>

       <p class="columnp">
            {% for block in section.blocks %} 
                        {% case block.type %}
                        {% when 'text1' %}
                        {% if block.settings.image != blank %}
                        {% if request.locale.iso_code == 'es'  %}
                        {{ block.settings.image }}
                        {% elsif request.locale.iso_code == 'en'  %}
                        {{ block.settings.image_en }}
                        {% elsif request.locale.iso_code == 'fr' %}
                        {{ block.settings.image_fr }}
                        {% elsif request.locale.iso_code == 'de' %}
                        {{ block.settings.image_de }}
                        {% elsif request.locale.iso_code == 'it' %}
                        {{ block.settings.image_it }}
                          
                         {% elsif request.locale.iso_code == 'it' %}
                        {{ block.settings.image_it }}
                              {% elsif request.locale.iso_code == 'pt-PT' %}
                                    {{ block.settings.image_br }}
                        {% else  %}
                    {{ block.settings.image_en }}
                        {% endif %}
                        {% endif %}
                        {% endcase %}
                        {% endfor %}
       </p>
  </div>
  </div>
  
<div class="column14">
   <div class="container-column14b">
      <div class="container-column14ba">
         <img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/neurology_FILL0_wght400_GRAD0_opsz48.png?v=1681441329" >
       <p>{% for block in section.blocks %} 
                {% case block.type %}
                {% when 'title02' %}
                {% if block.settings.image != blank %}
                {% if request.locale.iso_code == 'es'  %}
                {{ block.settings.image }}
                {% elsif request.locale.iso_code == 'en'  %}
                {{ block.settings.image_en }}
                {% elsif request.locale.iso_code == 'fr' %}
                {{ block.settings.image_fr }}
                {% elsif request.locale.iso_code == 'de' %}
                {{ block.settings.image_de }}
                {% elsif request.locale.iso_code == 'it' %}
                {{ block.settings.image_it }}
                  
                 {% elsif request.locale.iso_code == 'it' %}
                {{ block.settings.image_it }}
                      {% elsif request.locale.iso_code == 'pt-PT' %}
                            {{ block.settings.image_br }}
                {% else  %}
            {{ block.settings.image_en }}
                {% endif %}
                {% endif %}
                {% endcase %}
                {% endfor %}</p>
          </div>
            <p class="columnp">
  {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'text2' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}
            </p></div>

</div>
  
<div class="column14">
   <div class="container-column14b">
      <div class="container-column14ba">
         <img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/cognition_FILL0_wght400_GRAD0_opsz48.png?v=1681441330" > 
       <p>{% for block in section.blocks %} 
                {% case block.type %}
                {% when 'title03' %}
                {% if block.settings.image != blank %}
                {% if request.locale.iso_code == 'es'  %}
                {{ block.settings.image }}
                {% elsif request.locale.iso_code == 'en'  %}
                {{ block.settings.image_en }}
                {% elsif request.locale.iso_code == 'fr' %}
                {{ block.settings.image_fr }}
                {% elsif request.locale.iso_code == 'de' %}
                {{ block.settings.image_de }}
                {% elsif request.locale.iso_code == 'it' %}
                {{ block.settings.image_it }}
                  
                 {% elsif request.locale.iso_code == 'it' %}
                {{ block.settings.image_it }}
                      {% elsif request.locale.iso_code == 'pt-PT' %}
                            {{ block.settings.image_br }}
                {% else  %}
            {{ block.settings.image_en }}
                {% endif %}
                {% endif %}
                {% endcase %}
                {% endfor %}</p>
          </div>
            <p class="columnp">
    {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'text3' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}
            </p></div>

</div>
<div class="column14">
   <div class="container-column14b">
      <div class="container-column14ba">
         <img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/relax_FILL0_wght400_GRAD0_opsz48_1.png?v=1681441329" >
        
       <p>{% for block in section.blocks %} 
                {% case block.type %}
                {% when 'title04' %}
                {% if block.settings.image != blank %}
                {% if request.locale.iso_code == 'es'  %}
                {{ block.settings.image }}
                {% elsif request.locale.iso_code == 'en'  %}
                {{ block.settings.image_en }}
                {% elsif request.locale.iso_code == 'fr' %}
                {{ block.settings.image_fr }}
                {% elsif request.locale.iso_code == 'de' %}
                {{ block.settings.image_de }}
                {% elsif request.locale.iso_code == 'it' %}
                {{ block.settings.image_it }}
                  
                 {% elsif request.locale.iso_code == 'it' %}
                {{ block.settings.image_it }}
                      {% elsif request.locale.iso_code == 'pt-PT' %}
                            {{ block.settings.image_br }}
                {% else  %}
            {{ block.settings.image_en }}
                {% endif %}
                {% endif %}
                {% endcase %}
                {% endfor %}</p>
          </div>
            <p class="columnp">
     {% for block in section.blocks %} 
            {% case block.type %}
            {% when 'text4' %}
            {% if block.settings.image != blank %}
            {% if request.locale.iso_code == 'es'  %}
            {{ block.settings.image }}
            {% elsif request.locale.iso_code == 'en'  %}
            {{ block.settings.image_en }}
            {% elsif request.locale.iso_code == 'fr' %}
            {{ block.settings.image_fr }}
            {% elsif request.locale.iso_code == 'de' %}
            {{ block.settings.image_de }}
            {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
              
             {% elsif request.locale.iso_code == 'it' %}
            {{ block.settings.image_it }}
                  {% elsif request.locale.iso_code == 'pt-PT' %}
                        {{ block.settings.image_br }}
            {% else  %}
        {{ block.settings.image_en }}
            {% endif %}
            {% endif %}
            {% endcase %}
            {% endfor %}
            </p></div>
            </div>
</div>
</div>
 {% comment %}{% endcomment %}



<div class="with-reviews2 with-reviews22" style="background:#fff !important; color:black;   ">
           
<div class="container">
  
  <div class="container-columns2" style="display:grid; grid-template-columns:1fr 1fr; column-gap:4rem; padding:3rem 0; ">
        <div class="column1">
         <h2>{% for block in section.blocks %} 
                {% case block.type %}
                {% when 'h2' %}
                {% if block.settings.image != blank %}
                {% if request.locale.iso_code == 'es'  %}
                {{ block.settings.image }}
                {% elsif request.locale.iso_code == 'en'  %}
                {{ block.settings.image_en }}
                {% elsif request.locale.iso_code == 'fr' %}
                {{ block.settings.image_fr }}
                {% elsif request.locale.iso_code == 'de' %}
                {{ block.settings.image_de }}
                {% elsif request.locale.iso_code == 'it' %}
                {{ block.settings.image_it }}
                  
                 {% elsif request.locale.iso_code == 'it' %}
                {{ block.settings.image_it }}
                      {% elsif request.locale.iso_code == 'pt-PT' %}
                            {{ block.settings.image_br }}
                {% else  %}
            {{ block.settings.image_en }}
                {% endif %}
                {% endif %}
                {% endcase %}
                {% endfor %}</h2>
        {% for block in section.blocks %} 
                {% case block.type %}
                {% when 'person1' %}
                {% if block.settings.image != blank %}
                {% if request.locale.iso_code == 'es'  %}
                {{ block.settings.image }}
                {% elsif request.locale.iso_code == 'en'  %}
                {{ block.settings.image_en }}
                {% elsif request.locale.iso_code == 'fr' %}
                {{ block.settings.image_fr }}
                {% elsif request.locale.iso_code == 'de' %}
                {{ block.settings.image_de }}
                {% elsif request.locale.iso_code == 'it' %}
                {{ block.settings.image_it }}
                  
                 {% elsif request.locale.iso_code == 'it' %}
                {{ block.settings.image_it }}
                      {% elsif request.locale.iso_code == 'pt-PT' %}
                            {{ block.settings.image_br }}
                {% else  %}
            {{ block.settings.image_en }}
                {% endif %}
                {% endif %}
                {% endcase %}
                {% endfor %}
      </div>
        <div class="column2">
             <img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/IMG_8224-2_1.jpg?v=1681401256" style="width:100%; margin-bottom:30px;">
        </div>
</div>

       <div class="container-columns2a" style="display:grid; grid-template-columns:1fr; column-gap:2rem; ">
         <p>   {% for block in section.blocks %} 
                  {% case block.type %}
                  {% when 'person2' %}
                  {% if block.settings.image != blank %}
                  {% if request.locale.iso_code == 'es'  %}
                  {{ block.settings.image }}
                  {% elsif request.locale.iso_code == 'en'  %}
                  {{ block.settings.image_en }}
                  {% elsif request.locale.iso_code == 'fr' %}
                  {{ block.settings.image_fr }}
                  {% elsif request.locale.iso_code == 'de' %}
                  {{ block.settings.image_de }}
                  {% elsif request.locale.iso_code == 'it' %}
                  {{ block.settings.image_it }}
                    
                   {% elsif request.locale.iso_code == 'it' %}
                  {{ block.settings.image_it }}
                        {% elsif request.locale.iso_code == 'pt-PT' %}
                              {{ block.settings.image_br }}
                  {% else  %}
              {{ block.settings.image_en }}
                  {% endif %}
                  {% endif %}
                  {% endcase %}
                  {% endfor %}</p>
         
      
      
          </div>
       
 
  
  <div class="container-columns3" style="display:grid; grid-template-columns:1fr; column-gap:30px; background:#fff;padding:3rem 0px ">
      <div class="column1">
      <img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/imagenes_2.jpg?v=1681401197" style="width:100%; ">
     
  </div>

      <div class="container-columns4b" style="display:grid; grid-template-columns:1fr 1fr; column-gap:10px; background:#fff;">
          <div class="column1">
          <img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/image_3_1.jpg?v=1681401344" style="width:100%;">
          </div>
           <div class="column1">
          <img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/Erebus_yTerror_en_el_artico_1_1.jpg?v=1681401197" style="width:100%;">
          </div>
        
      </div>

        <div class="textos" style="margin-top:30px; margin-bottom:30px;">
              {% for block in section.blocks %} 
                    {% case block.type %}
                    {% when 'reviews' %}
                    {% if block.settings.image != blank %}
                    {% if request.locale.iso_code == 'es'  %}
                    {{ block.settings.image }}
                    {% elsif request.locale.iso_code == 'en'  %}
                    {{ block.settings.image_en }}
                    {% elsif request.locale.iso_code == 'fr' %}
                    {{ block.settings.image_fr }}
                    {% elsif request.locale.iso_code == 'de' %}
                    {{ block.settings.image_de }}
                    {% elsif request.locale.iso_code == 'it' %}
                    {{ block.settings.image_it }}
                      
                     {% elsif request.locale.iso_code == 'it' %}
                    {{ block.settings.image_it }}
                          {% elsif request.locale.iso_code == 'pt-PT' %}
                                {{ block.settings.image_br }}
                    {% else  %}
                {{ block.settings.image_en }}
                    {% endif %}
                    {% endif %}
                    {% endcase %}
                    {% endfor %}
          </div>
    
          <div class="container-columns3" style="display:grid; grid-template-columns:1fr; column-gap:10px; background:#fff;  ">
                <div class="column1">
                <img src="https://cdn.shopify.com/s/files/1/0622/6942/3871/files/imagenes_3.jpg?v=1681401414" style="width:100%;">
               
              </div>
          </div>
    </div>
  </div>
  
</div>


<style>
  .text-center {
    text-align:center;
  }
 .columns4b  h2 {
   text-transform:uppercase;
  text-align: center;
  padding-top: 30px;
   font-size:22px;
  color: #fff;
}
.columns4b .container {
  margin-top: 40px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  max-width:1200px;
  padding-bottom:40px;
  color:#09080C;
  
}
.columns4b .column14 {
  font-size: 16px;

  position: relative;
  color:#fff;
}
.columns4b .column14 img {
  position: relative;
display:block;
}
.with-reviews22 {
  font-size:20px;
}
  /**/
.with-reviews2 .btn2 {
  background:#242C5F;
  color:white;
  border-radius:20px;
}
  .with-reviews2 .btn {
 
  border-radius:20px;
}
 .with-reviews2 h2,
.with-reviews2 h3,
.with-reviews2 h4 {
  text-align: center;
  
  color: white;
}
    .with-reviews2 h2 b {
      font-size:50px;
    
         letter-spacing:2px;
      font-weight:400;
      color:black;
  font-family:"Enchanted Land";
    }
   .with-reviews2 h2 {
      font-size:35px;
      margin-top:30px;
      margin-bottom:40px;
    text-align:left;
      font-weight:400;
      color:black;

    }
  .with-reviews2 h3 {
     font-size:22px;
  }
  .with-reviews2 h4 {
  margin-top:40px;
     font-size:20px;
  }
.with-reviews2  {
  background: #000;
  color: white;
}
.with-reviews2 .flex-3 {
  margin:0 auto;
  max-width:1200px;
  padding-top:40px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
.with-reviews2 .flex-3 > div {
  width: 30%;
  color: black;
  background: white;
  font-weight: normal;
  font-size: 12px;
  border-radius: 20px;
}
.with-reviews2 .flex-3 > div > div {
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  background: #feb71a;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: black;
}
.with-reviews2 .flex-3 p {
  padding: 20px 20px;

}
  .container-column14b {
    border-radius:15px;
    background:white;
    color:black;
    font-size:12px;
    position:relative;
    overflow:hidden;
  }
  
  .container-column14b .columnp {
    padding:10px 20px;
    min-height:15em;
    
  }
  .container-column14ba {
    background:#F3B01C; 
        display: flex;
    flex-direction: column;
    text-transform:uppercase;
    align-items: center;
  padding:10px;
    color:#242C5F;
      font-size:14px;
    font-weight:bold;
    text-align:center;
  }
  
  @media (max-width:749px) {
    .with-reviews2 h2 b {
      font-size:35px;
    }
.container-columns2a,
  .columns4b .container {
  margin-top: 40px;
  display: grid;
  grid-template-columns:1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  max-width:1200px;
    max-width:100%;
  padding-bottom:40px;
  color:#09080C;
  
  
}
    .container-columns2 .column2 img {
      margin-top:20px;
      margin-bottom:0px !important;
    }
    .container-columns2 {
      margin:0 auto !important;
      max-width:100% !important;
    }
    .container-columns2a {
      padding-bottom:0px !important;
    }
    .container-columns2 p, .container-columns2a p, .textos, .container-columns2  {
      font-size:16px;
    }
    .columns4b .column14 {
       font-size:10px;
    }

    
  .with-reviews2 .flex-3 > div {
  width:100%;
  margin-bottom:20px;

  }
    .with-reviews2 .flex-3 {

    flex-direction: column;
}

          .columns4b h2 {
            text-transform:uppercase;

            font-size: 16px;
          }
          .columns4b .container {
          flex-direction: column;
          }
     .columns4b .container   .column14 {
       width:100%;
      
     }
    .columns4b .column14 p {
      font-size:10px;
    }
    .container-column14ba p {
      min-height:5em;
    }
    .container-column14b .columnp {
    padding: 5px 10px;
    min-height: 20em;
}
    .container-column14ba img {
    left:-5px;
    width:50px;
      margin:0 auto;
      
    }

    .with-reviews2 h4 {
    font-size:14px;
  }

    .with-reviews2 h3 {
       font-size:18px;
    }
 .with-reviews2 h2 {
       font-size:25px;
    }

  }
</style>

{% schema %}
  {
    "name": "Rich text with erebus 2",
    "settings": [
      {
        "type": "url",
        "id": "url",
        "label": "link url"
      }
    ],
     "blocks": [
      {
"type": "titulo1",
"name": "titulo1",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
       {
"type": "text1",
"name": "text1",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "text2",
"name": "text2",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "text3",
"name": "text3",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "text4",
"name": "text4",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
    {
"type": "h3",
"name": "h3",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
},
         {
"type": "h4",
"name": "h4",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "h2",
"name": "h2",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "btn",
"name": "btn",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "h2h2",
"name": "h2h2",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "person1",
"name": "person1",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "person2",
"name": "person2",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
},
         {
"type": "person3",
"name": "person3",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} ,
         {
"type": "reviews",
"name": "reviews",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} 
       ,

         {
"type": "title01",
"name": "title01",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
},
                {
"type": "title02",
"name": "title02",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} 
       ,
                {
"type": "title03",
"name": "title03",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} 
       ,
                {
"type": "title04",
"name": "title04",
"limit": 1,
"settings": [
{
"type": "html",
"id": "image",
"label": "text"
},
{
"type": "html",
"id": "image_en",
"label": "text en"
}, 
{
"type": "html",
"id": "image_fr",
"label": "text fr"
},
{
"type": "html",
"id": "image_de",
"label": "text de"
},{
"type": "html",
"id": "image_it",
"label": "text it"
},
  {
"type": "html",
"id": "image_br",
"label": "Image br"
}
]
} 
    ],
 "presets": [
      {
        "name": "Rich text with erebus 2",
        "settings": {
        }
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}